ion-content {
	--background: #3e41e0;
}

.card-title {
	margin-top: 100%;
	color:black;
	display: flex;
	align-items: center;
	margin-bottom: 1.2rem;
	justify-content: center;

	h1 {
		font-weight: 900;
		font-size: 2rem;
		text-align: center;
	}
}

.card {
	height: 90%;
	width: 100%;
	background: #ffffff;
	position: absolute;
	bottom: 0;
	padding: 2rem;

	.image {
		position: absolute;
		top: 1.5rem;
		width: 90%;
		height: 90%;
		padding: 1rem;
		display: block;
		margin: auto;
		transform: translateX(-1%);
	}
}

toolbar {
	color: black;
}