<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>SignalsTalk</ion-list-header>
          <ion-note></ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="home-outline" md="home-sharp"></ion-icon>
              <ion-label>Inicio</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/camera']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="camera-outline" md="camera-outline"></ion-icon>
              <ion-label>Abrir cámara</ion-label>
            </ion-item>
            <ion-item routerDirection="root" href="https://floating-bayou-34209.herokuapp.com/" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="paper-plane-outline" md="paper-plane-sharp"></ion-icon>
              <ion-label>Acerca de</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
